body{
    background-image:url(Screenshot.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
table{
    background-color:#f0f0d1;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}
p{
    font-size: 120%;
    text-align: justify;
}
a.back{
    background-color:#f0f0d1;
    font-size: 20px;
    box-shadow: 10px 10px 5px #8888;
}
